<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
<body>
    <div layout:fragment="content">
        <section class="container form">
            <form action="/products" method="POST" enctype="multipart/form-data">
                <div class="header">
                    <h3>Cadastrar Produto</h3>
                </div>

                <div th:insert="product/fields :: fieldsContainer">

                </div>
                <button class="button" type="submit">Salvar</button>
            </form>
        </section>
    </div>
</body>
</html>