<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
    <div class="fields" th:fragment="fieldsContainer">
        <div class="item">
            <div>Título</div>
            <div>
                <input type="text"
                       name="name"
                       placeholder="Digite o título do anuncio"
                       value="product.name">
            </div>
        </div>

        <div class="item">
            <div>Descrição</div>
            <div>
                <textarea name="description" value="">product.description</textarea>
            </div>
        </div>

        <div class="item">
            <div>Fotos</div>
            <div>
                <div id="photos-upload">
                    <input
                            type="file"
                            name="photos"
                            id="photos-input"
                            multiple
                            accept="image/*"
                            onchange = "PhotosUpload.handleFileInput(event)">
                    <p>Selecione até 6 fotos</p>
                </div>
                <!--
                <div id="photos-preview">
                    {% if files %}
                    {% for image in files %}
                    <div class="photos" id={{image.id}}>
                        <img src="{{image.src}}" alt="{{image.name}}">
                        <i class="material-icons" onclick="PhotosUpload.removeOldPhoto(event)">close</i>
                    </div>
                    {% endfor %}
                    <input type="hidden" name="removed_files">
                    {% endif %}
                </div>
                -->
            </div>
        </div>

        <div class="item">
            <div>Valor</div>
            <div>
                <input type="text"
                       name="price"
                       placeholder="Digite o preço do produto"
                       value="product.price"
                       onkeydown="Mask.apply(this, 'formatBRL')">
            </div>
            <!--
            {% if product.od_price %}
            <input type="hidden" name="old_price" value="{{product.old_price}}">
            {% endif %}
            -->
        </div>

        <div class="item">
            <div>Quantidade</div>
            <div>
                <input type="number"
                       name="quantity"
                       placeholder="Estoque disponível"
                       value="product.quantity">
            </div>
        </div>
        <!--
        {% if product.status != null %}
        <div class="item">
            <div>Disponível</div>
            <div>
        <span>
            <input type="radio"
                   name="status"
                   value="1"
                   {% if product.status == '1' %}
                     checked
                   {% endif %}>Sim
        </span>
                <span>
            <input type="radio"
                   name="status"
                   value="0"
                   {% if product.status == '0' %}
                     checked
                   {% endif %}>Não
        </span>
            </div>
        </div>

        {% endif %}

        -->

    </div>
</body>
</html>